{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="grey lighten-2">

<div class="row">
    <div class="col l8 offset-l2">
        <div class="center-align">
            <div id="images" class="row">
                <div class="col l1 pos-absolute vertical-center">
                    <a id="left-arrow" class="btn btn-large btn-floating cyan"><i class="large material-icons">chevron_left</i></a>
                </div>
                <div class="col l1 offset-l11 pos-absolute vertical-center">
                    <a id="right-arrow" class="btn btn-large btn-floating cyan"><i class="large material-icons">chevron_right</i></a>
                </div>
                <div class="col l1 offset-l5 pos-absolute">
                    <a class="btn btn-floating red"><i class="large material-icons">favorite</i></a>
                </div>
                <div class="col l1 offset-l6 pos-absolute">
                    <a class="btn btn-floating indigo"><i class="large material-icons">speaker_notes</i></a>
                </div>

                <div class="col l4 offset-l4 pos-absolute vertical-center" id="preloader">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/js-scripts.js' %}"></script>
</body>
</html>