{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Dadar | Find places you love!</title>
    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>

<div class="slides">
    <div class="slide-container">
        <div class="slide">
            <img src="http://s6.uplod.ir/i/00665/k51rqxo5dq0n.jpg" />
        </div>
        <div class="nav">
            <label class="prev"><span class="slider">&#x2039;</span></label>
            <label class="next"><span class="slider">&#x203a;</span></label>
        </div>
    </div>

    <div class="nav-dots">
        <label class="button"><i class="fa fa-heart fa-3x"></i></label>

        <label class="button"><i class="fa fa-comments fa-3x"></i></label>
    </div>
</div>

<script>
    var id;
    if (navigator.geolocation) { // device can return its location
        navigator.geolocation.getCurrentPosition(function (position) {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
            console.log('init/'+ position.coords.latitude + ',' + position.coords.longitude);
            $.get('init/'+ position.coords.latitude + ',' + position.coords.longitude, function(data, status, xhr){
                id = parseInt(data);
                $.get('image/' + id + '/0', function(data, status, xhr){
                    var image = $('<img>');
                    image.attr('src', data);
                    image.appendTo('#images');
                });
            });
        });
    }
</script>
</html>